@use "../variables";

.header {
  background-color: variables.$bg-dark;
  font-family: variables.$text-font;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 5px 5px lightgrey;
  z-index: 100;

  height: 20vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}
.header__logo {
  margin: 15px;
}
