@use "../variables";

.btn-container {
  margin: 10px 0px 0px 30px;
  padding: 5px;
  flex-direction: row;
  width: 100%;
}

.btn-container__button {
  background-color: variables.$text-accent;
  border-radius: 30px;
  margin: 2px;
  font-size: 1.2rem;
  font-family: variables.$text-font;
  color: black;
}
